<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home</h1>
    <form action="/login" method="GET">
        <button>Login!</button>
    </form>
    <form action="/register" method="GET">
        <button>Register!</button>
    </form>
    <form action="/secret" method="GET">
        <button>Secret!</button>
    </form>
    <form action="/topsecret" method="GET">
        <button>Topsecret!</button>
    </form>
</body>

</html>