<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
</head>

<body>
    <h1>Secret Page!!!</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5ZSi1Np9nxqYnHl7moENblg5l2JmLkdgs5w&usqp=CAU">
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
</body>
<form action="/" method="GET">
    <button>Go Home!</button>
</form>
</html>