<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopSecret</title>
</head>

<body>
    <h1>Top Secret Page!!!</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuy--Yikv6MqOVsVgbUb3Jy2ibM9XTjBcALA&usqp=CAU">
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
    <form action="/" method="GET">
        <button>Go Home!</button>
    </form>
</body>

</html>